<div class="container">
  <div class="logo">
    <img src="img/osc-logo.png" alt="osl logo">
  </div>
  <div class="totp">
    <div class="main">
      <h4 class="totp-text">Your Token is : </h4>
      <div class="totp-code">
        <div id="qrcode"></div>
<!--         <p> <b> 1 1 1 1 </b></p>-->
      </div>
    </div>
    <div class="totp-exprie">
      <!-- <div class="text"> <p>OSL (Name) </p></div> -->

    </div>
  </div>
</div>
<button class="add-button">Add to Home Screen</button>
<h1 id="demo"></h1>
