body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #202020;
}

.container {
    color: #fff;
    margin: 0;
    padding: 0;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
}

.totp {
    padding: 1rem;
    display: block;

}

.totp .main h4 {
    margin-top: 15.5vh;
    font-size: 0.9rem;
    font-weight: 500;
    font-stretch: 2;
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
    color: #a7a7a7;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 0.2rem;
}

.totp .main .totp-code p {
    font-size: 4rem;
    margin: 0;
    text-align: center;
    font-weight: bolder;
    color: #e0e0e0;
    margin-top: 0 !important;
    letter-spacing: 0.8rem;
}

.totp .totp-exprie {
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.062);
    margin: 0;
    padding: 0;
}
.totp .totp-exprie .text p {
    margin: 0 !important;
    padding: 0;
}
.totp .totp-exprie .text {
    font-size: 1.1rem;
    color: #e0e0e0;
    float: left;
    width: auto;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 7%;
}

.totp .totp-exprie .timer {
    float: right;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    position: relative;
    margin-top: 1.8rem;
    margin-right: 10%;
}

.timer .rotate {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 10;
}

.timer .rotate #loader {
    fill: #cccccc;
}

#qrcode {
    width:160px;
    height:160px;
    margin-top:15px;
  }

.add-button {
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
    margin-top: 6rem;
    padding: 0.5rem 2rem;
    background-color: #fafbff;
    margin-left: 3rem;

}
